.chart {
  margin-top: 110px;
  display: flex;
  justify-content: center;
  canvas {
    width: 100% !important;
    height: 300px !important;
    @media (max-width: 430px) {
      width: 100% !important;
    }
  }
  padding-bottom: 20px;
}
