.logoImg {
  margin-right: 55px;
  height: 90px;
  width: 90px;
  @media (max-width: 770px) {
    margin-right: 15px;
  }
}
.root {
  display: grid;
  grid-template-columns: auto auto;
}
.headerRight {
  display: flex;
}
.iconmenu {
  margin-right: 20px !important;
  color: #7c7e81 !important;
}
.dec {
  width: 600px !important;
  height: 100px !important;
}
