.list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 29px !important;
  display: inline-flex;
}
.title {
  span {
    margin-right: 10px !important;
    font-size: 16px !important;
    margin-left: 30px !important;
    @media (max-width: 430px) {
      font-size: 13px !important;
      margin-right: -10px !important;
    }
  }
}
.icon {
  min-width: 0 !important;
}
.button {
  color: #7c7e81 !important;
  &:hover {
    background: none !important;
  }
}
.activemenu {
  color: #fa8735 !important;
  .dividerBox {
    margin-top: -40px;
  }
  span {
    display: block;
  }
  // .title {
  // margin-top: -20px;
  // }
}
.divider {
  display: none;
  border-top: 5px solid #fcbc8e;
  width: 48px;
  margin-bottom: 36px;
}
.root {
  @media (max-width: 770px) {
    display: flex;
    justify-content: end;
  }
}
